.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.header{
  background: #fff;
  padding: 0;
  display:flex;
  justify-content:space-between;
  /*justify-content:flex-end;*/
}
.right {
  display: flex;
  padding-top:10px;
  margin-right: 20px;
}